<div class="container mt-5" *ngIf="module">
    <div class="dropdown me-2 d-flex justify-content-between">
        <div class="section-title">
            <h2>{{ module.moduleName }}</h2>
        </div>

        <!-- Shared Dropdown Menu -->
        <ng-template #dropdownMenu>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li *ngIf="!((isAdmin$ | async) || isModuleInstructor)">
                    <a class="dropdown-item" type="button" (click)="toggleViewGrades()">View Module Grades</a>
                </li>
                <li *ngIf="isModuleInstructor">
                    <a class="dropdown-item" type="button" (click)="toggleGradeAndFeedback()">Grade & Feedback</a>
                </li>
                <li>
                    <a class="dropdown-item" type="button" (click)="toggleViewParticipants()">View Participants</a>
                </li>
                <ng-container *ngIf="(isAdmin$ | async)">
                    <li><a class="dropdown-item" type="button" (click)="editModule()">Edit Module</a></li>
                    <li><a class="dropdown-item text-danger" type="button" (click)="deleteModule()">Delete Module</a>
                    </li>
                </ng-container>
            </ul>
        </ng-template>

        <!-- Desktop view -->
        <div class="d-none d-md-block">
            <div class="dropdown" *ngIf="isEnroled || (isAdmin$ | async) || isModuleInstructor">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Module Navigation
                </button>
                <ng-container *ngTemplateOutlet="dropdownMenu"></ng-container>
            </div>
        </div>

        <!-- Mobile view -->
        <div class="d-md-none">
            <button class="btn p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false" *ngIf="isEnroled || (isAdmin$ | async) || isModuleInstructor">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ng-container *ngTemplateOutlet="dropdownMenu"></ng-container>
        </div>
    </div>

    <div *ngIf="!isEnroled && !((isAdmin$ | async) || isModuleInstructor)">
        <div class="price-badge-container d-flex align-items-center my-2">
            <span class="badge bg-secondary text-white px-2 py-1 fs-6 price-badge">
                Price: {{ module.price | currency:'EUR' }}
            </span>
        </div>

        <div>
            <p class="text-muted">{{ module.description }}</p>
        </div>
    </div>

    <button class="btn btn-primary mt-3"
        *ngIf="!isEnroled && !((isAdmin$ | async) || isModuleInstructor); else modulePage" (click)="payAndEnrol()" 
        [disabled]="isRedirectingToStripe">
        <ng-container *ngIf="!isRedirectingToStripe; else loading">
            Pay & Enrol
        </ng-container>

        <ng-template #loading>
            <div class="d-flex align-items-center">
                <span>Redirecting...</span>
                <mat-spinner [diameter]="20" class="ms-2"></mat-spinner>
            </div>
        </ng-template>
    </button>

    <ng-template #modulePage>
        <app-module-page 
            *ngIf="!showGradeSubmissions && !showViewGrades && !showEditModuleForm && !showParticipants"
            [attr.key]="moduleId">
        </app-module-page>
    </ng-template>

    <app-grade-submissions 
        *ngIf="showGradeSubmissions && isModuleInstructor"
        (backToModuleDetails)="onBackToModuleDetail(true)">
    </app-grade-submissions>

    <app-view-grades 
        *ngIf="showViewGrades && !isModuleInstructor"
        (backToModuleDetails)="onBackToModuleDetail(true)">
    </app-view-grades>

    <app-module-participants 
        *ngIf="showParticipants"
        (backToModuleDetails)="onBackToModuleDetail(true)">
    </app-module-participants>

    <app-edit-module 
        *ngIf="(isAdmin$ | async) && showEditModuleForm"
        (cancelEdit)="onBackToModuleDetail(true)">
    </app-edit-module>
</div>

<app-delete-confirmation-dialog 
    #deleteDialog 
    [title]="deleteDialogTitle" 
    [message]="deleteDialogMessage"
    (confirmed)="onDeleteConfirmed($event)">
</app-delete-confirmation-dialog>

<app-message-dialog #msgDialog></app-message-dialog>