<div class="container mt-5">
    <div *ngIf="!(isAuthResolved$ | async); else content" class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>

    <ng-template #content>
        <div *ngIf="isLoggedIn$ | async; else notLoggedIn">
            <!-- Admin Dashboard -->
             <app-admin-dashboard
                *ngIf="(currentUser$ | async) && (currentUser$ | async)?.roleName === 'Admin'">
             </app-admin-dashboard>

            <!-- Instructor Dashboard -->
            <app-instructor-dashboard
                *ngIf="(currentUser$ | async) && (currentUser$ | async)?.roleName === 'Instructor'">
            </app-instructor-dashboard>

            <!-- Student Dashboard -->
            <app-student-dashboard
                *ngIf="(currentUser$ | async) && (currentUser$ | async)?.roleName === 'Student'">
            </app-student-dashboard>
        </div>

        <ng-template #notLoggedIn>
            <div class="section-title">
                <h2 class="mb-5">Virtual Learning Environment (VLE)</h2>
            </div>

            <p>Please <span><a href="/login">login here</a></span> to access more features.</p>
        </ng-template>
    </ng-template>
</div>