<nav class="navbar navbar-expand-sm bg-dark navbar-dark" *ngIf="isAuthResolved$ | async; else loading">
    <div class="container">
        <a class="navbar-brand" href="/">VLE</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ng-container>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item" *ngIf="(isLoggedIn$ | async)">
                        <a class="nav-link" aria-current="page" href="/explore">Explore</a>
                    </li>
                    <li class="nav-item" *ngIf="(isLoggedIn$ | async) && (isAdmin$ | async)">
                        <a class="nav-link" aria-current="page" href="/create-module">Create Module</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <ng-container *ngIf="(isLoggedIn$ | async); else loggedOut">
                        <li class="nav-item">
                            <a class="nav-link" href="#" (click)="logout()">Logout</a>
                        </li>
                    </ng-container>
                    <ng-template #loggedOut>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ng-template>
                </ul>
            </ng-container>
        </div>
    </div>
</nav>

<ng-template #loading>
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>