<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VLE</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="" routerLink="/">Home</a>
                </li>
                <li class="nav-item" *ngIf="isInstructor">
                    <a class="nav-link" aria-current="page" href="/create-module">Create Module</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" href="#" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>