:host {
    .btn-primary {
        color: #fff !important;

        &:disabled {
            color: #fff !important;
            opacity: 0.8;
        }
    }

    ::ng-deep .mat-mdc-progress-spinner {
        --mdc-circular-progress-active-indicator-color: #fff;
    }
}

a:hover {
    text-decoration: underline;
}

.invalid-feedback ul,
.invalid-feedback li {
  color: #dc3545 !important;
}