<div class="container mt-5">
    <div *ngIf="!(isAuthResolved$ | async); else content" class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>

    <ng-template #content>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <div class="section-title">
                            <h2 class="text-center centered mb-5">Explore Modules</h2>
                        </div>

                        <div class="mb-4">
                            <input type="text" class="form-control" placeholder="Search modules..."
                                [(ngModel)]="searchQuery" (input)="onSearch()">
                        </div>

                        <div class="list-group">
                            <p class="text-muted mb-3">{{ filteredModules.length }} results</p>
                            <a *ngFor="let module of filteredModules" type="button"
                                class="list-group-item list-group-item-action mb-2 rounded"
                                (click)="navigateToModule(module.moduleId)">
                                <h5 class="mb-2">{{ module.moduleName }}</h5>
                                <p class="mb-0 text-muted">{{ module.description }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>