<div class="container mt-5 p-0">
    <h4 class="mb-3">My Submissions</h4>

    <div *ngIf="isLoadingSubmissions" class="spinner-container m-5">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>

    <div *ngIf="!isLoadingSubmissions && submissions.length === 0" class="alert alert-info mt-3">
        <p>No submissions submitted for grading.</p>
    </div>

    <div *ngIf="submissions.length > 0">
        <div class="mb-4">
            <input type="text" class="form-control" placeholder="Search submissions..." [(ngModel)]="searchQuery" (input)="onSearch()">
        </div>

        <div class="table-responsive mt-3">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Assignment Title</th>
                        <th>Submission File</th>
                        <th>Grade %</th>
                        <th>Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let submission of displayedSubmissions">
                        <td>{{ submission.contentTitle }}</td>
                        <td>
                            <a [href]="submission.fileUrl" target="_blank">{{ submission.fileName }}</a>
                        </td>
                        <td>{{ submission.grade == null ? 'N/A' : submission.grade }}</td>
                        <td>
                            <button class="btn btn-secondary btn-sm" (click)="openFeedbackDialog(submission)"
                                [disabled]="!submission.feedback">View Feedback</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <mat-paginator [length]="filteredSubmissions.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex" (page)="onPageChange($event)" aria-label="Select page"
                class="mat-elevation-z0">
            </mat-paginator>
        </div>

    </div>
    
    <button class="btn btn-secondary" (click)="onBackToModuleDetail()">Back to Module</button>
</div>

<app-feedback-dialog
    #feedbackDialog
    [isInstructor]="false"
    [(feedback)]="currentFeedback">
</app-feedback-dialog>