footer {
    background-color: #111;
    color: rgba(255, 255, 255, 0.75);
    padding: 2em 0;
}

footer p {
    color: rgba(255, 255, 255, 0.75);
}

a i {
    color: #fff !important;
    transition: color 0.3s;
}

.fas.fa-user-tie {
    font-size: 1.8em;
}

a:hover i {
    color: #007e82 !important;
}
