<footer class="text-center mt-5" *ngIf="isAuthResolved$ | async">
    <div class="container p-2">
        <p class="mb-3 text-center small">© 2025 Technological University Dublin</p>

        <div class="row justify-content-center mb-1">
            <div class="col-lg-6 col-md-12 mb-2 mb-md-0 pe-0 ps-3">
                <a href="https://kjatillo.github.io/my-portfolio/" target="_blank" class="me-3">
                    <i class="fas fa-user-tie fa-2x text-white" style="transition: color 0.3s;"></i>
                </a>
                
                <a href="https://www.linkedin.com/in/keneithatillo" target="_blank" class="me-3">
                    <i class="fab fa-linkedin fa-2x text-white" style="transition: color 0.3s;"></i>
                </a>            

                <a href="https://github.com/kjatillo" target="_blank" class="me-3">
                    <i class="fab fa-github fa-2x text-white" style="transition: color 0.3s;"></i>
                </a>
            </div>
        </div>

        <hr />
        <p class="my-2 text-center small">Final Year Project</p>
        <p class="my-2 text-center small">Computing with Software Development</p>
    </div>
</footer>