<div class="container p-0">
    <form [formGroup]="editPageForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" formControlName="title" class="form-control"
                [ngClass]="{'is-invalid': editPageForm.get('title')?.invalid && editPageForm.get('title')?.touched}">
            <div class="invalid-feedback" *ngIf="editPageForm.get('title')?.invalid && editPageForm.get('title')?.touched">
                Title is required
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary mt-3 me-2" [disabled]="editPageForm.invalid">Update Page</button>
        <button type="button" class="btn btn-secondary mt-3" (click)="onCancel()">Cancel</button>
    </form>
</div>