@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
}

p,
a,
li,
span,
button,
label,
input,
textarea {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

a {
    color: #007e82;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #007e82;
    text-decoration: none;
}

/* Section Title Styling */
.section-title h1, 
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #111;
}

.section-title h1:after,
.section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #007e82;
    left: 0;
    right: 0;
    bottom: 0;
}

.section-title h1.centered:after,
.section-title h2.centered:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #007e82;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

/* Input Field Styling */
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
    border-color: #007e82;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 126, 130, 0.25);
}

/* Radio Button Styling */
input[type="radio"] {
    accent-color: #007e82;
    width: 18px;
    height: 18px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 8px;
}

input[type="radio"]:checked {
    background-color: #007e82;
    border-color: #007e82;
}

label {
    line-height: 17px;
    vertical-align: middle;
    font-weight: 600;
}

/* Action Button Styling */
.btn {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-sm {
    font-size: 14px;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary,
.btn-primary.dropdown-toggle,
.btn-primary:visited,
.btn-primary:focus:active,
.btn-primary:focus-visible,
.btn-primary:target,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #007e82;
    color: #fff;
}

.btn-primary:hover {
    background-color: #009a9f;
    color: #fff;
}

button.btn-primary:disabled,
a.btn-primary:disabled {
    background-color: #007e82;
    color: #fff;
    opacity: 0.6;
    cursor: not-allowed;
}

button.btn-outline-primary,
a.btn-outline-primary {
    background-color: transparent;
    color: #007e82;
    border: 2px solid #007e82 !important;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.btn-outline-primary:hover,
a.btn-outline-primary:hover {
    background-color: #007e82;
    color: #fff;
    border-color: #007e82;
}

button.btn-outline-danger,
a.btn-outline-danger {
    background-color: transparent;
    color: #dc3545;
    border: 2px solid #dc3545 !important;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-item:active,
.dropdown-item.active,
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: rgba(0, 126, 130, 0.08) !important;
}

/* Angular Material Styling */
.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #007e82;
}

.mat-mdc-paginator {
    .mat-mdc-paginator-container {
        .mat-mdc-paginator-page-size-select {
            .mdc-text-field--focused .mdc-notched-outline__leading,
            .mdc-text-field--focused .mdc-notched-outline__notch,
            .mdc-text-field--focused .mdc-notched-outline__trailing {
                border-color: #007e82;
            }
        }

        .mat-mdc-select:focus .mat-mdc-select-arrow {
            color: #007e82;
        }
    }
}

.mat-mdc-select-panel {
    .mat-mdc-option {
        &.mat-mdc-option-active,
        &.mdc-list-item--selected {
            background-color: rgba(0, 126, 130, 0.1);
            
            .mdc-list-item__primary-text {
                color: #007e82 !important;
            }
        }
    }
}