<div class="container mt-5 p-0">
    <div class="row">
        <div class="col-12 col-md-3 mb-3">
            <button *ngIf="isModuleInstructor" class="btn btn-primary mb-3" (click)="addPage()">Add New Page</button>
            <div *ngIf="pages.length > 0; else noModuleContentsTemplate">
                <h4 class="mb-3" *ngIf="pages.length > 0">Pages</h4>

                <ul class="list-group">
                    <li id="page-list" *ngFor="let page of pages"
                        class="list-group-item d-flex justify-content-between">
                        <a [routerLink]="['/module', moduleId]" (click)="selectPage(page.pageId)">{{ page.title }}</a>
                        <div class="dropdown me-2">
                            <button class="btn p-0 me-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                aria-expanded="false" *ngIf="isModuleInstructor">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" type="button" (click)="editPage(page.pageId)">Edit Page</a>
                                </li>
                                <li><a class="dropdown-item text-danger" type="button"
                                        (click)="deletePage(page.pageId)">Delete Page</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <ng-template #noModuleContentsTemplate>
            <p>No module contents to display.</p>
        </ng-template>

        <div class="col-12 col-md-9">
            <div *ngIf="showContents && selectedPageId">
                <button *ngIf="isModuleInstructor && !showAddContentForm && !showEditContentForm"
                    class="btn btn-primary mb-3" (click)="addContent()">Add New Content</button>
                <div *ngIf="!showAddContentForm && !showEditContentForm">
                    <h4 class="mb-3">{{ selectedPageTitle }} - Contents</h4>

                    <ul class="list-group" *ngIf="contents.length > 0; else noPageContentsTemplate">
                        <li *ngFor="let content of contents" class="list-group-item">
                            <div class="dropdown me-2 d-flex justify-content-between">
                                <h5 class="content-title">{{ content.title }}</h5>

                                <button class="btn p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                    aria-expanded="false" *ngIf="isModuleInstructor">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" type="button"
                                            (click)="editContent(content.contentId)">Edit Content</a></li>
                                    <li><a class="dropdown-item text-danger" type="button"
                                            (click)="deleteContent(content.contentId)">Delete Content</a></li>
                                </ul>
                            </div>

                            <p class="content-description"><b>Description</b>: {{ content.description }}</p>

                            <ng-container *ngIf="content.isLink; else fileTemplate">
                                <a [href]="content.linkUrl" target="_blank" class="btn btn-outline-primary my-2">Go to
                                    link</a>
                            </ng-container>

                            <ng-template #fileTemplate>
                                <div *ngIf="!content.isUpload">
                                    <p class="content-description"><b>File</b>: {{ content.fileName }}</p>
                                    <a [href]="content.fileUrl" target="_blank"
                                        class="btn btn-outline-primary my-2">Download
                                        File</a>
                                </div>

                                <div *ngIf="content.isUpload">
                                    <p class="content-description"><b>Deadline</b>: {{ content.deadline | date:'d MMMM yyyy h:mm a' }}</p>
                                    <p class="content-description" *ngIf="!isModuleInstructor"><b>Uploaded File</b>: {{
                                        content.submissionFileName ?
                                        content.submissionFileName : 'N/A' }}</p>
                                    <button *ngIf="!isModuleInstructor" class="btn my-2"
                                        [ngClass]="isPastDeadline(content.deadline) ? 'btn-outline-danger' : 'btn-outline-primary'"
                                        (click)="uploadSubmission(content.contentId)"
                                        [disabled]="isPastDeadline(content.deadline)">
                                        {{ !isPastDeadline(content.deadline) ?
                                        (content.submissionFileName ? 'Edit Submission' : 'Upload Submission') :
                                        'Submission Closed' }}
                                    </button>
                                </div>
                            </ng-template>
                        </li>
                    </ul>

                    <ng-template #noPageContentsTemplate>
                        <p>No contents available for this page to display.</p>
                    </ng-template>
                </div>
            </div>

            <div *ngIf="showAddContentForm">
                <h4 class="mb-3">Add Content - {{ selectedPageTitle }}</h4>
                <app-add-content [pageId]="selectedPageId" (contentAdded)="onContentAdded()"
                    (cancel)="onCancelAddContent()"></app-add-content>
            </div>

            <div *ngIf="showEditContentForm">
                <h4 class="mb-3">Edit Content - {{ selectedPageTitle }}</h4>
                <app-edit-content [content]="selectedContent" (contentUpdated)="onContentUpdated()"
                    (cancel)="onCancelEditContent()"></app-edit-content>
            </div>

            <div *ngIf="showAddPageForm">
                <h4 class="mb-3">Add Page</h4>
                <app-add-page (pageAdded)="onPageAdded()" (cancel)="onCancelAddPage()"></app-add-page>
            </div>

            <div *ngIf="showEditPageForm">
                <h4 class="mb-3">Edit Page - {{ selectedPageTitle }}</h4>
                <app-edit-page [page]="selectedPage" (pageUpdated)="onPageUpdated()"
                    (cancel)="onCancelEditPage()"></app-edit-page>
            </div>
        </div>
    </div>
</div>

<app-delete-confirmation-dialog #deleteDialog 
    [title]="deleteDialogTitle" 
    [message]="deleteDialogMessage"
    (confirmed)="onDeleteConfirmed($event)">
</app-delete-confirmation-dialog>