.content-title {
    margin-bottom: 0.5rem;
}

.content-description {
    margin-bottom: 1rem;
}

.btn-secondary {
    margin-left: .75rem;
}

@media (max-width: 767.98px) {
    .btn-primary,
    .btn-secondary {
        width: 100%;
        margin-left: 0;
        margin-top: .75rem;
    }

    .list-group-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .list-group-item a {
        width: 100%;
    }

    .btn-outline-primary {
        width: 100%;
    }

    .content-title,
    .content-description,
    .btn-outline-primary {
        width: 100%;
    }
}