<div class="container mt-5">
    <div *ngIf="!(isAuthResolved$ | async); else content" class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>

    <ng-template #content>
        <div *ngIf="isLoggedIn$ | async; else notLoggedIn">
            <!-- Student Dashboard -->
            <app-student-dashboard
                *ngIf="(currentUser$ | async) && (currentUser$ | async)?.roleName === 'Student'">
            </app-student-dashboard>
        </div>

        <ng-template #notLoggedIn>
            <h2 class="mb-3">Virtual Learning Environment (VLE)</h2>
            <p>Please log in to access more features.</p>
        </ng-template>
    </ng-template>
</div>