.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.btn-primary {
    margin-right: .75rem;
}

@media (max-width: 767.98px) {
    .btn-primary,
    .btn-secondary {
        width: 100%;
        margin-left: 0;
        margin-top: .75rem;
    }

    .content-title,
    .content-description {
        width: 100%;
    }
}